<%= erb :'/users/leftpanel' %>

<div class="main">
  <h1>HI HELLO</h1>
  <p>This will eventually store some sort of dashboardy informaton</p>
  <p>For now, join a group or create a group and play around to test
  functionality and try to break this thing.</p>
</div>
