<div class="intro">
  <div id="hello">
  <span class="hello">HELLO</span>
  </div>
  <div id="intro">
    <h1>A Hangout Thing</h1>
  <h2>Yet another group chat app</h2>

  <h3>Sign Up</h3>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up">
  </form>

  <p>Have an account? <a href="/">Log in!</a></p>
  </div>
</div>
